---

service_port: {{ garduino_port | default(8080) }}
log_file: "{{ garduino_log_dir }}/debug.log"

# Database setup
database_host: "{{ garduino_database_host | default('localhost') }}"
database_name: "{{ garduino_database_name | default('garduino') }}"
database_user: "{{ garduino_database_user | default('garduino') }}"
database_password: "{{ garduino_database_password | default('garduino') }}"

# Watering setup
auto_watering: {{ garduino_auto_watering_enabled | default('True') }}
light_on_during_watering: {{ garduino_light_on_during_watering | default('True') }}
watering_scrape_interval: {{ garduino_watering_scrape_interval | default(5) }}
watering_num_of_scrapes: {{ garduino_watering_num_of_scrapes | default(5) }}
watering_moisture_threshold: {{ garduino_watering_moisture_threshold | default(-1) }}
watering_temperature_threshold: {{ garduino_watering_temperature_threshold | default(-1) }}
watering_humidity_threshold: {{ garduino_watering_humidity_threshold | default(-1) }}
watering_checker_interval: {{ garduino_watering_checker_interval | default(20) }}

# Notifier setup
telegram_notifier_enabled: {{ garduino_telegram_enabled | default(False) }}

TELEGRAM_BOT_TOKEN: {{ garduino_telegram_bot_token | default('') }}
TELEGRAM_CHAT_ID: {{ garduino_telegram_chat_id | default('') }}